{
    "development": {
        "PORT": 4000,
        "MONGODB_URI": "mongodb://localhost:27017/covid-tracker"
    },
    "staging": {
        "PORT": 4000,
        "MONGODB_URI": "mongodb://localhost:27017/covid-tracker-staging"
    },
    "testing": {
        "PORT": 4000,
        "MONGODB_URI": "mongodb://localhost:27017/covid-tracker-test"
    }
}